[submodule ".emacs.d/lisp/undo-hl"]
	path = .emacs.d/lisp/undo-hl
	url = https://github.com/casouri/undo-hl.git
	branch = master
[submodule ".emacs.d/lisp/hare-mode"]
	path = .emacs.d/lisp/hare-mode
	url = https://git.sr.ht/~bbuccianti/hare-mode
