[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[user]
    name = riderius
    email = riderius.help@gmail.com
    signingkey = 85523FCB002DAF83
[core]
    quotepath = false
    hooksPath = /home/riderius/.config/gitfiles/hooks
[gui]
    encoding = utf-8
[gpg]
    program = gpg
[commit]
    gpgsign = true
[init]
    defaultBranch = "main"
[alias]
    ci = commit -s
    s = status
    lll = log --oneline
    l = log --pretty=fuller --stat --graph
    ll = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short --graph
    dev = checkout dev
    main = checkout main
    master = checkout master
    develop = checkout develop
    c = checkout
    new = checkout -b
    b = branch
    d = diff
    patch = format-patch
    p = push --verbose
    pt = push --tags --verbose
    pf = push --force --verbose
    ptf = push --tags --force --verbose
    pp = pull --verbose
    ppt = pull --tags --verbose
    pptf = pull --tags --force --verbose
    ppf = pull --force --verbose
    a = add *
[credential]
    helper = cache
[sendemail]
    smtpserver = smtp.gmail.com
    smtpuser = riderius.help@gmail.com
    smtpencryption = tls
    smtpserverport = 587
[merge]
    conflictstyle = diff3
